body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(3,3,152,1) 74%);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 94%;
    margin: 0 auto;
}
.headerPrincipal{
    color:#FFF;
    padding: 20px 0;
    font-family: 'Sono', sans-serif;
}
.headerPrincipalTitulo{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}
.headerPrincipal .container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.headerPrincipal-menu{
    display: flex;
}
.headerPrincipalNav-link{
   margin: .5rem;
   color:#FFF;
   text-decoration: none;
   border: 2px solid #08b5ed;
   transition: all .1s ease-in-out;
}
.headerPrincipalNav-link:hover{
    border: 3px solid #FFF;
    border-style: dashed solid;
}
.acercaDeMi-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: .5rem;
}
.acercaDeMi-principal{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    font-family: 'Sono', sans-serif;
}
.acercaDeMi-Titulo{
    width: 100%;
    font-size: xx-large;
    text-align: center;
}
.acercaDeMi-link{
    font-size: large;
    text-decoration: none;
    color: #FFF;
    border: 2px solid #08b5ed;
    transition: all .1s ease-in-out;
}
.acercaDeMi-link:hover{
    border: 3px solid  #FFF;
    border-style: dashed solid;
}
.sobreMi-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.sobreMi-img{
    width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 50%;
}
.sobreMi-descripcion{
    color:#FFF;
    margin: 2rem;
    font-size: x-large;
    font-family: 'Sono', sans-serif;
}
.skills-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.skills-titulo{
    margin: 1rem;
    color: #FFF;
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
}
.skills{
    display: flex;
    margin: 1rem;
}
.skill{
    display: flex;
    margin: 15px;
    width: 100px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
}

.hobbie-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.hobbie-titulo{
    margin: 1rem;
    color: #FFF;
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
}
.hobbies{
    display: flex;
    margin: 1rem;
}
.hobbie{
    display: flex;
    margin: 15px;
    width: 100px;
    height: 100px;
    justify-content: center;
    flex-direction: column;
}

.formacion-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.formacion-titulo{
    margin: 1rem;
    color: #FFF;
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
}
.formacion-tarjetas{
    display: flex;
}
.formacion-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f7f7f7;
    height: 300px;
    width: 250px;
    margin-right: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 7%;
    box-shadow: 4px 4px 5px 1px rgb(0,0,0);
}
.formacion-img{
    height: 150;
    width: 125px;
}
.formacion-img2{
    height: 250;
    width: 175px;
}
.formacion-subtitulo{
    font-family: 'Sono', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #1b6dc2;
}
.formacion-annio{
    font-family: 'Sono', sans-serif;
    text-align: center;
    color: rgb(119, 119, 118);
}

.proyectos-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.proyectos-titulo{
    margin: 1rem;
    color: #FFF;
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
}
.proyectos-tarjetas{
    display: flex;
    flex-direction: column;
}
.proyectos-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f7f7f7;
    height: 400px;
    width: 700px;
    margin-right: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 3%;
    box-shadow: 4px 4px 5px 1px rgb(0,0,0);
}
.proyectos-img{
    width: 600px;
    height: 300px;
}
.proyectos-subtitulo{
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #1b6dc2;
}
.proyectos-boton{
    border-radius: 5px;
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b6dc2;
    margin: 2px;
    padding: 2px;
}
.proyectos-boton:hover{
    background: #033569;
}
a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Sono', sans-serif;
}

.contacto-container{
    background-color: #0821e211;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #FFF;
    border-style: dashed solid;
    margin: 1rem;
}
.contacto-titulo{
    margin: 1rem;
    color: #FFF;
    font-size: xx-large;
    font-family: 'Sono', sans-serif;
}
.contacto-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Sono', sans-serif;
}
::placeholder{
    color: #FFF;
}
.input-padron{
    background: #0836ed2b;
    color: #FFF;
    font-family: 'Sono', sans-serif;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    resize: none;
}
.enviar{
    margin-bottom: 1rem;
    width: 20%;
    padding: 10px 0;
    font-family: 'Sono',sans-serif;
    font-weight: 600;
    font-size: large;
    color:white;
    background: #1b6dc2;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: #033569;
}

.footer-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 100%;
    height: 110px;
    border-radius: 10px;
    box-shadow: 0px -4px 20px 5px rgb(3, 2, 36);
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nombre{
    color:white;
    font-size: medium;
    font-family: 'Sono', sans-serif;
    margin-left: 20px;
}
.footer-img{
    margin-left: 1rem;
    width: 25px;
    height: 25px;
}
@media screen and (max-width:768px){
    .headerPrincipalContacto{
        margin-top: 40px;
    }
    .headerPrincipal .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }
    .skill{
        margin: 10px;
    }
    .hobbie{
        margin: 10px;
    }
    .formacion-tarjeta{
        margin: 10px;
        width: 200px;
    }
    .formacion-img{
        height: 120;
        width: 100px;
    }
    .formacion-img2{
        height: 225;
        width: 150px;
    }
    .proyectos-tarjeta{
        height: 300px;
        width: 600px;
    }
    .proyectos-img{
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width:414px) {
    .headerPrincipal-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerPrincipalNav-link{
        display: flex;
    }
    .sobreMi-container{
        flex-direction: column;
        text-align: center;
        border-style: solid dashed ;
    }
    .skills-container{
        border-style: solid dashed;
    }
    .skills{
        flex-direction: column;
    }
    .skill{
        display: flex;
        margin-top: 30px;
    }

    .hobbie-container{
        border-style: solid dashed;
    }
    .hobbies{
        flex-direction: column;
    }
    .hobbie{
        display: flex;
        margin-top: 10px;
    }
}